<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="configuration/bootstrap-3.3.5-dist/css/bootstrap.min.css">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="icon/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/announcement.css">
    <link rel="stylesheet" href="css/gouwuche.css">
</head>
<body>
<%-include('nav.ejs')%>
<div class="container-fluid" id="gonggao_box">
    <div class="row">
        <div class="col-md-2">
            <p>公司公告</p>
        </div>
        <div class="col-md-10">
            <span id="h_current">发票信息说明</span>

        </div>
    </div>
    <div class="row">
        <div class="col-md-2" id="h_righttitlebox">
            <dl>
                <dt>
                    关于SMALL LUCKY
                </dt>
                <dd>
                    <a href="#">联系我们</a>
                </dd>
                <dd>
                    <a href="#">
                        SMALL LUCKY 企业合作
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        SMALL LUCKY 历史品牌
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        产品理念
                    </a>
                </dd>
            </dl>

            <dl>
                <dt>
                    购物指南
                </dt>
                <dd>
                    <a href="#">隐私保护政策</a>
                </dd>
                <dd>
                    <a href="#">
                        会员注册协议
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        会员体系FAQ
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        代金卡使用说明
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        优惠券使用说明
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        发票信息说明
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        修改订单信息说明
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>
                    配送方式
                </dt>
                <dd>
                    <a href="#">
                        配送范围说明
                    </a>
                </dd>
            </dl>

        </div>
        <div class="col-md-10" id="h_rightbox">
            <!--联系我们联系我们联系我们-->
            <div id="h_lxwomen">
                <div class="text-right h_my_top">
                    <span>
                        发布日期：2014-04-01 00:00:00
                    </span>
                </div>
                <p>
                    <strong>全国服务热线：</strong>
                    <span>400-8208-820</span>
                </p>
                <p>
                    <strong>北京中央工厂：</strong>
                    <span>Tel：010-66666666 Fax：010-6888888</span>
                </p>
                <p>
                    <strong>上海中央工厂：</strong>
                    <span>Tel：021-66666666 Fax：021-6888888 </span>
                </p>
                <p>
                    <strong>成都中央工厂：</strong>
                    <span>Tel：028-66666666 Fax：028-6888888 </span>
                </p>
                <dl>
                    <dt>
                        企业团购业务：
                    </dt>
                    <dd>北京：010-66666666</dd>
                    <dd>成都：028-66666666</dd>
                    <dd>上海：021-66666666</dd>
                    <dd>天津：022-66666666</dd>
                    <dd>杭州：0571-6666666</dd>
                    <dd>苏州：0512-6666666</dd>
                    <dd>无锡：0510-6666666</dd>
                    <dd>广州：020-66666666</dd>
                    <dd>深圳：0755-6666666</dd>
                </dl>


            </div>
            <!--企业合作企业合作-->
            <div id="h_hezuo">
                <div class="text-right">
                    <span>
                        发布日期：2015-04-01 00:00:00
                    </span>
                </div>
                <p></p>
                <span>
                    small lucky作为国内领先的高端品牌蛋糕供应商，通过企业个性化定制蛋糕卡，IT平台轻松订购，四大城市免费送货上门等一系列全程配套服务，帮助企业用户实现客户关系维护、员工福利关怀、商务活动庆典等专业服务。
                </span>

                <span>
                    目前small lucky已拥有中国移动、宝马、奔驰、微软、索尼、惠普、西门子、招商银行、诺基亚等上百家知名企业客户，已有超过百万人次的客户享受过small lucky的蛋糕订 购服务。small lucky长期以来保持业内服务领先水平，坚持以不断追求高品质为目标，努力为广大消费者提供更安全、更健康、更优质的产品及服务！
                </span>
                <p></p>
                <p>
                    企业客户服务电话: 021-6666666（服务范围：上海、北京、杭州、苏州、无锡、天津、广州、深圳）
                </p>
            </div>
            <!--品牌历史品牌历史-->
            <div id="h_pinpai">
                <div class="text-right">
                    <span>
                        发布日期：2015-04-01 00:00:00
                    </span>
                </div>
                <ul>
                    <li>很多人还不知道small lucky，</li>
                    <li>它的味道，故事和名字，只在朋友中间口碑相传。</li>
                    <li>同所有纯正的蛋糕一样，small lucky使用真正的乳脂奶油，杜绝任何色素、香精和防腐剂。</li>
                    <li>一次次的旅行，一次次的寻找，一次次的尝试，挑剔近50种国外的地道原料，</li>
                    <li>small lucky，</li>
                    <li>21款经典口味。</li>
                    <li>small lucky，不止是一块蛋糕。</li>
                </ul>
            </div>
            <!--产品理念-->
            <div id="h_chanpin">
                <div class="text-right">
                    <span>
                        发布日期：2015-04-01 00:00:00
                    </span>
                </div>
                <p>
                    很难想象，奶油蛋糕到了中国，竟会变成这个样子——植脂奶油大行其道。
                </p>
                <span>
                        人类总是那么自作聪明，拒绝大自然天然的馈赠。你也许不明白，什么是植脂奶油——以植物脂肪和植物蛋白为主要成分，添加乳化剂、稳定剂、蛋白质、糖、食 盐、色素、香精等辅料，经特殊工艺加工而制成的一种奶油仿制品。在发泡性、稳定性、保形性、保存性等方面比天然奶油好，是搅打后泡沫丰富的蛋糕表面装饰、 裱花料。可话说回来，如果人工合成的东西那么完美，大自然又为何要无私馈赠呢？
                        乳脂奶油则不同，主要从天然新鲜牛奶中提取，无任何色素和添加剂。相比之下，乳脂奶油比植脂奶油贵三倍，口感上也更加甜润地道，确切地说，是否使用乳脂奶油，是蛋糕好坏与否的根本标准。没有一个纯正的欧洲品牌，会采用植脂奶油。
                       采用乳脂奶油的SMALL LUCKY蛋糕，的确没有你曾经吃过的植脂奶油蛋糕保质期长。但就像鲜花容易凋谢，真正自然的美味，一向如此。同时这更要求我们从订单到美味送达，一定要时间极短。甚至为获得绝佳口感，连制作和享用的温度都是苛刻的，在这一点上，我们和极品干邑如出一辙。
                </span>

                <p>
                    奶油、黄油、巧克力、奶酪……全部为世界不同原产地顶级原材料。
                </p>

                 <span>
                     奶油、黄油、巧克力、奶酪……全部为世界不同原产地顶级原材料。来自新西兰的奶油和来自比利时的巧克力，是蛋糕最纯正的选择，也是蓝天白云和浪漫温馨的异国情怀；来自美国或土耳其的榛子、新西兰的猕猴桃和金果、美国的 黑樱桃，是水果坚果中的极品；来自牙买加的摩根船长朗姆酒、爱尔兰百利甜酒，还有上品的白兰地、樱桃酒和咖啡酒调出风味，更加令人倾倒……我们其实明白， 如果这一切都从国内选购，一定能轻松很多，当然，那样也就不会有与众不同的SMALL LUCKY。与很多你曾经吃过的蛋糕坯子的单调口味相比，SMALL LUCKY的每一款蛋糕必须用原料烘烤蛋糕坯，如果我不说，你一定不会知道，但味蕾不会欺骗你。比如栗蓉暗香真的用上好栗子来烘烤蛋糕坯……坯子各具精髓和风味，宛如真爱，多样但永远唯一。在欧洲传统工艺的基础上，充分发挥创意，原创全新而时尚的口味。
                 </span>
                <p></p>
                <span>
                     小幸运尊重并了解，蛋糕时尚性的根本驱动力是创意和产品。在配方、口味、形制等任何细节，SMALL LUCKY从未停止对新产品和新口味的信仰和研判，至今已诞生数十种独创品类。同时，SMALL LUCKY从全球范围内的材质精选、制作工艺、后期服务等方面为实现创意做出保证。
                </span>
                <p></p>

                <p> 杜绝任何色素、添加剂与防腐剂。</p>
                <span>小幸运认为，真正的自然美味，均有其自身的生命规律，人力智慧应该用在如何保护食物的天然本色上，这样做，不只是为了健康，更是尊重每一种精心挑选的地道食材。</span>

            </div>
            <!--/*隐私保护政策*/-->
            <div id="h_yinsi">
                <div class="text-right">
                    <span>
                        发布日期：2015-04-01 00:00:00
                    </span>
                </div>
                <span>隐私条款</span>
                <br>
                <span>个人信息</span>
                <span>一般情况下，您无须提供您的姓名或其它个人信息即可访问我们的站点。但有时我们可能需要您提供一些信息，例如为了处理订单、与您联系、提供预订服务或处理工作应聘。我们可能需要这些信息完成以上事务的处理或提供更好的服务。</span>
                <br>
                <span>用途</span>
                <br>
                <span>供我们网站交易和沟通等相关方使用，以满足您的订单等购物服务；</span>
                <br>
                <span>用于与您保持联系，以开展客户满意度调查、市场研究或某些事务的处理；</span>
                <br>
                <span>用于不记名的数据分析（例如点击流量数据）；</span>
                <br>
                <span>帮助发展我们的业务关系（如果您是我们网站的业务合作伙伴或批发商）；</span>

            </div>
            <!--会员注册协议-->
            <div id="h_zhuce">
                <div class="text-right">
                    <span>
                        发布日期：2014-03-26 00:00:00
                    </span>
                </div>
                <span>
                    《small lucky会员注册协议》（以下简称“本协议”）是您与small lucky网站（网址：www.small lucky.com）所有者（以下简称为“small lucky”）之间就small lucky网站服务等相关事宜所订立的契约，请您仔细阅读本协议，本协议即构成对双方有约束力的法律文件。<br><br>如果您访问small lucky网站或在small lucky网站购物，或以任何行为实际使用、享受small lucky网站的服务，即表示您接受了本协议，并同意受本协议各项条款的约束。如果您不同意本协议中的任何内容，您可以选择不使用本网站服务。<br><br>本协议包括协议正文及所有small lucky网站已经发布的或将来可能发布或更新的各类规则（在该等规则中small lucky网站或被简称为“small lucky”），所有规则为本协议不可分割的组成部分，与本协议正文具有同等法律效力。您应当仔细阅读本协议的正文内容及其所属各类规则。<br><br>small lucky网站有权根据需要不时地制订、修改本协议及/或各类规则，并以网站公示的方式进行公告，不再单独通知您。修订后的协议或将来可能发布或更新的各类规则一经在网站公布后，立即自动生效。如您不同意相关修订，应当立即停止使用small lucky网站服务。您继续使用small lucky网站服务，即表示您接受经修订的协议或规则。<br><br>一、 small lucky网站账户<br><br>1、 用户在注册成为small lucky网站用户时所提供的信息应真实、完整、有效，并保证small lucky网站可以通过该等信息与用户本人进行联系。同时，用户也有义务在相关资料发生变更时及时更新注册信息。<br>2、 在成功注册后，small lucky网站会为每位用户开通一个账户，作为其使用small lucky网站服务的唯一身份标识，用户应妥善保管该账户的用户名和密码，并对在其账户项下发生的所有行为负责。用户不得以任何形式转让或授权他人使用自己的small lucky网站账户。<br>3、 每位用户只允许拥有一个small lucky网站账户。如有证据证明或small lucky网站有理由相信用户存在注册多个small lucky网站账户的情形，small lucky网站有权采取取消订单、冻结或关闭账户、拒绝提供服务等措施，给small lucky网站及相关方造成损失的，用户还应承担赔偿责任。<br>4、 small lucky网站用户必须是具有完全民事行为能力的自然人，或者是具有合法经营资格的实体组织。无民事行为能力、限制民事行为能力人以及无经营或特定经营资格的组织不得注册为small lucky网站用户或超过其民事权利或行为能力范围在small lucky网站进行交易，如否，small lucky网站有权采取取消订单、冻结或关闭账户、拒绝提供服务等措施，给small lucky网站及相关方造成损失的，用户还应承担赔偿责任。<br><br>二、 交易平台服务<br><br>1、small lucky将尽最大努力保证用户所购商品与网站上公布的价格一致，但价目表和声明并不构成要约。small lucky有权在发现了其网站上显现的产品及订单的明显错误或缺货的情况下，单方面撤回任何承诺。同时，small lucky保留对产品订购的数量的限制权。<br><br>2、产品的价格和可获性都在small lucky网上指明。这类信息将随时更改且不发任何通知。商品的价格都包含了法律规定的税金。如果发生了意外情况，在确认了用户的订单后，由于供应商提价，税额变化引起的价格变化，或是由于网站的错误等造成商品价格变化，用户有权取消订单，并希望用户能及时通过电子邮件或电话通知small lucky客户服务部。用户所订购的商品，如果发生缺货，用户有权取消定单。<br><br>3、 用户同意small lucky网站在发现small lucky网站上显示的商品信息错误或缺货的情况下，有权撤回或修改该等信息，并对商品订购数量有限制权。用户提交订单即表示用户对其订单中所确认的订购商品、收货地址等信息的准确性负责。<br><br>4、配送费用将根据small lucky网站上公布的配送政策和用户选择的送货方式另行计收。small lucky网站有权更改上述有关价格和配送费用的信息，而不做另行通知。<br><br>三、 用户的权利和义务<br><br>1、 用户有权根据本协议的约定，以及small lucky网站上发布的相关规则在small lucky网站上查询商品信息、订购具体商品、参加small lucky网站的有关活动，以及使用small lucky网站提供的其他服务。<br><br>2、 用户应当保证在small lucky网站购买商品过程中遵守诚实信用原则，不扰乱网上交易的正常秩序。<br><br>3、 用户享有言论自由权利，并拥有适度修改、删除自己发表的文章的权利。<br><br>4、 用户不得在small lucky网站发表包含以下内容的言论：<br><br>① 反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的；<br>② 煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；<br>③ 损害国家荣誉和利益的；<br>④ 煽动民族仇恨、民族歧视，破坏民族团结的；<br>⑤ 任何包含对种族、性别、宗教、地域内容等歧视的；<br>⑥ 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br>⑦ 宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br>⑧ 公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br>⑨ 损害国家机关信誉的；<br>⑩ 其他违反宪法和法律行政法规的。<br><br>5、 未经small lucky网站同意，禁止用户在small lucky网站上发布任何形式的广告。<br><br>四、 small lucky网站的权利和义务<br><br>1、 small lucky网站有义务在现有技术上维护整个网站的正常运行，并努力提升和改进技术，使用户网上交易活动得以顺利进行。<br>2、 对于用户在small lucky网站上做出下列行为的，small lucky网站有权做出相应处理，而无须事先通知用户或取得用户同意：<br><br>① small lucky网站有权对用户的注册信息及购买行为进行查阅，如发现注册信息或购买行为中存在任何问题的，有权向用户发出询问及要求改正或者做出冻结或关闭账户、取消订单等处理；<br>② 用户违反本协议规定或有违反法律法规和地方规章的行为的，small lucky网站有权删除其信息，禁止用户发言，限制用户订购，注销用户账户并按照相关法律规定向相关主管部门进行披露；<br>③ 对于用户在small lucky网站进行的下列行为，small lucky网站有权对用户采取删除其信息，禁止用户发言，限制用户订购，注销用户账户等限制性措施：包括（i）发布或以电子邮件或以其他方式传送存在恶意、虚假和侵犯他人人身财产权利内容的信息；（ii）进行与网上购物无关或不是以购物为目的的活动，试图扰乱正常购物秩序；将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、发布、发送电子邮件或以其他方式传送；（iv）干扰或破坏small lucky网站和服务或与small lucky网站和服务相连的服务器和网络；或（v）发布其他违反公共利益或可能严重损害small lucky网站和其他用户合法利益的信息；<br><br>3、 用户在此授予small lucky网站无偿、永久的独家使用权，并有权对该使用权进行再授权，以使small lucky网站有权在全球范围内全部或部分地使用、复制、修改、改写、发布、翻译和展示用户登记或发布在small lucky网站上的各类信息，或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入small lucky网站其他作品内。<br><br>五、 交易平台服务规则<br><br>1、 价格变动规则 ：small lucky将尽最大努力保证用户所购商品或服务价格与网站公布的价格一致，尽管做出最大的努力，small lucky网站上的商品或服务中的一小部分仍可能会有定价误差。如果发现错误定价，small lucky将采取下列措施：<br><br>① 如果某一商品或服务的错误定价高于正确定价，商家将按照较低的定价向用户销售该等商品或服务；<br>② 如果某一商品或服务的错误定价低于正确定价，商家会根据情况，在交付商品前联系用户达成共识，或者取消订单并通知用户。<br><br>2、 商品缺货规则：由于市场变化及各种以合理商业努力难以控制的因素的影响，small lucky无法承诺用户通过提交订单所希望购买的商品都会有货；用户订购的商品或服务如果发生缺货，用户和small lucky皆有权取消该订单。<br><br>3、 邮件/短信/微信服务规则：当用户访问small lucky网站或给small lucky网站发送电子邮件时，用户同意以电子方式与small lucky网站进行联系，并同意以电子方式接收small lucky网站的信息。small lucky网站有权通过电子邮件和/或短信和/或微信等方式向用户发送通知、订单信息、促销活动等信息，如果用户访问small lucky网站，或在small lucky网站注册、购物及使用其他服务，则表明用户已同意接收该等信息。如用户不希望接收来自于small lucky网站除了通知、订单信息以外的电子邮件和/或短信和/或微信，则small lucky网站可根据用户申请办理退阅。<br><br>4、 配送规则：small lucky负责将订购商品配送到用户指定的收货地址。所有在small lucky网站上列出的配送时间皆为参考时间，仅供用户参照使用。该参考时间是根据商品库存状况、订单处理流程和配送地点等情况综合计算得出的。<br><br>5、 退换货规则：small lucky网站有权制定、发布商品退换货规则，并对该等规则享有修改权、解释权。用户在small lucky网站提交订单即表明其接受small lucky网站的退换货规则。<br><br>6、 订单取消规则：<br><br>① 用户有权在下列情况下，取消订单：<br>a) 经用户和small lucky协商达成一致的；<br>b) small lucky对用户订单做出承诺之前；<br>c) small lucky网站上公布的商品价格发生变化或错误，用户在small lucky发货之前通知small lucky的。<br>② small lucky在下列情况下，可以取消用户订单：<br>a) 经small lucky和用户协商达成一致的；<br>b) small lucky网站上显示的商品信息明显错误或缺货的；<br>c) 用户订单信息明显错误或用户订购数量超出small lucky备货量的。<br>③ small lucky网站在下列情况下，亦可取消用户订单：<br>a) 因不可抗力、small lucky网站系统发生故障或遭受第三方攻击，及其他small lucky网站无法控制的情形，根据small lucky网站判断需要取消用户订单的；<br>b) 经small lucky网站判断，用户订购行为不符合公平原则或诚实信用原则的情形（如同一用户多次无理由拒收订购商品）；<br>c) 按small lucky网站已经发布的或将来可能发布或更新的各类规则，可取消用户订单的其他情形。<br><br>六、 责任限制与不可抗力<br><br>1、 在法律法规所允许的限度内，因使用small lucky网站服务而引起的任何损害或经济损失，small lucky网站承担的全部责任均不超过就用户所购买的与该索赔有关的商品所实际获得的直接收益。这些责任限制条款将在法律所允许的最大限度内适用，并在用户账户被注销后仍继续有效。<br><br>2、 small lucky网站仅限在“按现状”和“按现有”的基础上，向用户提供全部的信息、内容、材料、产品（包括软件）和服务。除非另有明确的书面说明，small lucky网站不对其包含在small lucky网站上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的担保。<br><br>3、 不论在任何情况下，small lucky网站均不对由于互联网设备正常维护，互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，灾难性天气（如火灾、洪水、风暴等），爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能履行或延迟履行承担责任。<br><br>七、 服务的中断和终止：<br><br>1、 用户向small lucky网站提出注销账户申请，经small lucky网站审核同意后，由small lucky网站注销该用户账户，本协议即告终止。但在注销该用户账户后，small lucky网站仍有权：<br><br>①保留该用户的注册信息及过往的全部交易行为记录；<br>② 如用户在账户注销前在small lucky网站上存在违法行为或违反本协议的行为，small lucky网站仍可行使本协议所规定的权利。<br><br>2、 在下列情况下，small lucky网站可以通过注销用户账户的方式单方解除本协议：<br><br>① 在用户违反本协议相关规定时，small lucky网站有权暂停或终止向该用户提供服务。如该用户在small lucky网站暂停或终止提供服务后，再一次直接或间接或以他人名义注册为small lucky网站用户的，则small lucky网站有权再次暂停或终止向该用户提供服务；<br>② 如small lucky网站通过用户提供的信息与用户联系时，发现用户在注册时填写的电子邮箱已不存在或无法接收电子邮件的，经small lucky网站以其他联系方式（如有）通知用户，而用户在三个工作日内仍未能提供新的有效电子邮箱地址的，small lucky网站有权终止向该用户提供服务；<br>③ 一经发现用户注册信息中的内容是虚假的，small lucky网站即有权终止向该用户提供服务；<br>④ 本协议修改或更新时，如用户表示不愿接受新的服务协议的，small lucky网站有权终止向该用户提供服务；<br>⑤ small lucky网站认为需终止提供服务的其他情况。<br><br>八、 适用的法律和管辖权<br><br>本协议的订立、执行和解释及争议的解决均应适用中华人民共和国的法律。如发生本协议与法律相抵触的情形，则该条款将按法律规定重新解释，而其他条款继续有效。如就本协议内容或其执行发生任何争议，则双方应首先通过友好协商方式解决；协商不成的，任何一方均应向small lucky网站所在地有管辖权的法院提起诉讼解决。<br><br>九、 知识产权<br><br>1、 small lucky网站上的图表、标识、网页页眉、按钮图标、文字、服务品名等标示在网站上的信息都是small lucky网站运营方及其关联方的财产，受中国和国际知识产权法的保护。未经small lucky网站许可，任何人不得使用、复制或用作其他用途。在small lucky网站上出现的其他商标是其商标权利人各自的财产，未经small lucky网站运营方或相关商标所有人的书面许可，任何第三方都不得使用。<br><br>2、 small lucky网站用户发表的文章仅代表作者本人观点，与small lucky网站立场无关。作者文责自负。<br><br>3、 small lucky网站及其关联方有权将用户在本网站发表的商品使用体验、商品讨论或图片进行使用或者与其他人合作使用，使用范围包括但不限于网站、电子杂志、杂志、刊物等，使用时需为作者署名，以发表文章时注明的署名为准。文章有附带版权声明者除外。<br><br>4、 用户在small lucky网站上发表的文章及图片（包括转贴的文章及图片）版权仅归属原作者所有，若作者有版权声明或原作从其他网站转载而附带有原版权声明者，其版权归属以附带声明为准。<br><br>5、 任何转载、引用发表于small lucky网站的版权文章须符合以下规范：<br><br>① 用于非商业、非盈利、非广告性目的时需注明作者及文章及图片的出处为“small lucky网站”或“www.small lucky.com”；<br>② 用于商业、盈利、广告性目的时需征得文章或图片原作者的同意，并注明作者姓名、授权范围及原作出处“small lucky网站”或“www.small lucky.com”；<br>③ 任何文章或图片的修改或删除均应保持作者原意并征求原作者同意，并注明授权范围。<br><br>十、 信息保护<br><br>1、 用户个人隐私：请阅读small lucky网站的隐私保护政策以了解隐私政策。该声明适用于您访问small lucky网站，或在small lucky网站购买商品或使用small lucky网站提供的任何服务。<br><br>2、 信息安全<br><br>① small lucky网站账户和提现功能有密码保护，请用户妥善保管账户及密码信息；<br>② 如果用户发现自己的个人信息泄密，尤其是small lucky网站账户及密码或提现密码发生泄露，请用户立即联络small lucky网站客服，以便small lucky网站采取相应措施。<br><br>3、 Cookie的使用规则<br><br>① 通过small lucky网站所设Cookie所取得的有关信息，将适用本规则；<br>② 在small lucky网站上发布信息的第三方通过其所发布信息在用户计算机上设定Cookies的，将按该第三方的隐私权政策使用；<br>③ 编辑和删除个人信息的权限：用户可以点击“我的SMALL LUCKY”对用户的个人信息进行编辑和删除，除非small lucky网站另有规定。<br>
                </span>

            </div>
            <!--会员体系-->
            <div id="h_hytixi">
                <div class="text-right">
                    <span>
                        发布日期：2014-03-26 00:00:00
                    </span>
                </div>
                <div>「幸运会」FAQ<br>Q1：为何加入「幸运会」？<br>A：加入「幸运会」，由此获得消费金额累积资格。实际支付金额每满100元，则将自动获得1颗果实，以此类推。累积果实可升级，并享受各级会员权益。订单中使用优惠券、订单促销等优惠抵扣的金额不参与消费金额的累积。<br>&nbsp;<br>Q2：如何加入「幸运会」？<br>A：注册small lucky即加入「幸运会」，并在支付金额≥1元，开始累积果实。<br>&nbsp;<br>Q3：「幸运会」会员分几个等级？各等级会员有哪些权益？<br>A：目前「幸运会」会员有四个等级，每个等级的权益如下：<br>「幸运会」初阶会员（果实数＞0）权益：<br>•限时权益（自动绑定到账户内，自获得之日起一年内有效）<br>-初阶设计师礼品兑换券(Lv1)1张：订单支付金额≥100元时，使用此券可随单获赠一份small lucky设计师礼品（初级）。<br>-新品体验券（Lv1）1张：订单支付金额≥100元时，使用此券可随单配送新品一份。<br>-免费配送券1张：使用此券可享受免费配送1次（不限消费金额）。<br><br>「幸运会」中阶会员（果实数≥5）权益：<br>•限时权益（自动绑定到账户内，自获得之日起一年内有效）<br>-中阶设计师礼品兑换券(Lv2)1张：订单支付金额≥100元时，使用此券可随单获赠一份small lucky设计师礼品（中级）。<br>-新品体验券（Lv2）1张：订单支付金额≥100元时，使用此券可随单配送新品一份。<br>-免费配送券2张：使用此券可享受免费配送2次（不限消费金额）。<br>&nbsp;<br>「幸运会」高阶会员（果实数≥12）权益：<br>•限时权益（自动绑定到账户内，自获得之日起一年内有效）<br>-高阶设计师礼品兑换券(Lv3)1张：订单支付金额≥100元时，使用此券可随单获赠一份small lucky设计师礼品（高级）。<br>-新品体验券（Lv3）1张：使用此券可兑换并享免费配送新品1次。<br>-免费配送券2张：使用此券可享受免费配送2次（不限消费金额）。<br>&nbsp;<br>「幸运会」尊客（果实数≥25）权益：<br>•限时权益（自动绑定到账户内，自获得之日起一年内有效）<br>-1磅蛋糕兑换券：使用此券可兑换任意一款1磅蛋糕（价值198元）。<br>-尊客设计师礼品兑换券(Lv4)1张：订单支付金额≥100元时，使用此券可随单获赠一份small lucky设计师礼品（尊客）。<br>-新品体验券（Lv4）1张：使用此券可兑换并享免费配送新品1次。<br>-终身免邮：不限消费金额，在尊客等级内不限次数可享受免费配送服务。<br><br>Q4：「幸运会」降级规则？<br>A：会员降级以果实数为依据：<br>-每90天内未产生购买，果实减一颗，若果实减少为下一等级数量时，等级相应降低，上一级别的终身权益失效。<br>&nbsp;<br>Q5：果实数的生效时间及撤销规则？<br>A：正常购买的订单，果实数将在订单成功签收的2-3日内添加至会员账户；如果因各种原因而导致购买未成功，或退回所买的产品，系统将撤销用户帐户里面因为此次购买而相应获得的果实。订单中使用优惠券、订单促销等优惠抵扣的金额不参与消费金额的累积。<br>&nbsp;<br>Q6：如何注册small lucky账户？<br>A：访问http://www.small lucky.com/passport-signup.html ，或者搜索关注small lucky官方微信（微信号：nianyikesmall lucky），根据帐户注册指引来完成注册。<br>&nbsp;<br>Q7：一个small lucky账户下，可以绑定多个「幸运会」会员资格吗？<br>A：目前一个small lucky账户下，暂时只能绑定一个「幸运会」会员资格。<br>&nbsp;<br>Q8：我能撤销「幸运会」会员资格在既有small lucky帐户中的绑定，并在另一个新注册的small lucky帐户中再次绑定吗?<br>A：不可以。「幸运会」会员资格在既有帐户中绑定后，会员权限就已经与此帐户绑定，其中的限时权限就被合并入该帐户中，这个操作是不能被撤销的，该会员资格不能在另一个small lucky账户中被再次绑定。<br>&nbsp;<br>Q9：「幸运会」会员权益中的终身权益和限时权益有什么区别？<br>A： 根据「幸运会」账户里面累积果实的数量，会员将获得对应的会员权益，会员权益将自动绑定到用户的账户中。会员权益分为终身权益和限时权益，终身权益将随用户的会员等级永久有效，限时权益在被使用或过期后将自动从用户的账户中扣除或失效。除了特别说明，限时权益有效期为自获得权益开始之日起的一年，过期后 权益将失效。<br>&nbsp;<br>Q10：哪里可以查看我获得的会员权益？<br>A：「幸运会」会员可以通过以下几种方式查询自己的会员权益内容：<br>-登录small lucky官方网站www.small lucky.com、small lucky APP -“我的SMALL LUCKY“可查询自己现有的会员等级及权益信息。<br>-致电small lucky客服电话：400-650-2121，异地手机可拨打021-23099721，提供用户的会员卡号由客服帮用户查询。<br>&nbsp;<br>Q11：如何使用「幸运会」会员权益？<br>A：small lucky官方网站、官方微信（微信号：nianyikesmall lucky）、small lucky APP均可在下单时选择使用可用的权益。会员权益不能和代金卡或其他优惠券同时使用。会员权益不能兑换现金，不找零，抵扣部分金额不支持开具发票，一旦使用不可撤回。<br>-官方网站：添加商品至购物车—下单结算—填写订单信息—付款信息处选择“使用优惠券和权益”—提交订单；<br>-官方微信：微信菜单点击“立即预定”—添加商品至购物车—去结算—确认订单信息—选择优惠券（点击使用）—提交订单；<br>-small lucky APP：添加商品至购物车—下单结算—填写订单信息—选择优惠券（点击使用）—提交订单。<br>&nbsp;<br>Q12：「幸运会」的会员权益可以同时，或与其他优惠同时使用吗？<br>A：会员每次预订商品时只能使用一个限时权益，并且限时权益不能与代金卡或其他优惠券同时使用。<br>&nbsp;</div>
            </div>
            <!--代金卡使用说明-->
            <div id="h_djinka">
                <div class="text-right">
                    <span>
                        发布日期：2014-03-26 00:00:00
                    </span>
                </div>
                <br><br>
                <span class="cuti">一、代金卡使用规则</span>
                <br>
                <span>代金卡不与优惠券同时使用，一张代金卡只能使用在一张订单上，订单金额小于代金卡金额时，剩余金额不能再次使用。</span>
                <br>
                <br>
                <span class="cuti">二、代金卡使用方式</span>
                <br>
                <span>电脑网页下单：登录官网www.small lucky.com，登录自己的账户，在提交订单的页面，支付方式选择货到付现金，付款信息下面有一个使用代金卡的选项，填写卡号和防伪编码点击确定，提交订单即可。</span>
                <br>
                <span>微信公众号下单：在提交订单的页面，支付方式选择“货到付现金”，付款信息下面有一个代金卡的选项，填写卡号和防伪编码点击使用代金卡，提交订单即可。
APP下单：在确认订单的页面，选择代金卡，填写卡号和防伪编码点击使用代金卡即可。
                </span>
                <br>
                <br>
                <span class="cuti">三、代金卡过期</span>
                <br>
                <span>请致电400-8208-820/021-666666提供卡号做延期，延期需要2-3个工作日。</span>

            </div>
            <!--优惠券使用说明-->
            <div id="h_yhuiquan">
                <div class="text-right">
                    <span>
                        发布日期：2014-03-26 00:00:00
                    </span>
                </div>
                <br><br>
                <span class="cuti">一、优惠券使用规则</span>
                <br>
                <span>
                    优惠券不与代金卡同时使用，一张订单只能使用一张优惠券。
                </span>
                <br>
                <br>
                <span class="cuti">二、优惠券使用方式</span>
                <br>
                <span>
                    电脑网页下单：登录官网www.small lucky.com，登录自己的账户，在提交订单的页面，点击使用优惠券和权益，选择要使用的优惠券，点击使用即可。（升磅券还需要选择要升磅的产品，有1磅及2磅蛋糕可供选择时可使用升磅券）
                </span>
                <br>
                <span>
                    微信公众号下单：在提交订单的页面，点击选择优惠券即可。（升磅券还需要选择要升磅的产品，有1磅及2磅蛋糕可供选择时可使用升磅券）
                    APP下单：在确认订单的页面，选择优惠券，点击右上角的完成即可。</span>
                <br>
                <br>
                <span class="cuti">三、优惠券查询</span>
                <br>
                <span>
                    幸运会个人中心里查看享有优惠券，优惠券需要在有效期内使用完毕，过期不予使用
                </span>
            </div>
            <!--发票信息说明-->
            <div id="h_fapiao">
                <div class="text-right">
                    <span>
                        发布日期：2014-03-26 00:00:00
                    </span>
                </div>
                <br><br>
                <span class="cuti">1 需要发票</span>
                <br>
                <span>
                    下单时添加发票抬头和项目即可
                </span>
                <br>
                <br>
                <span class="cuti">2 发票抬头</span>
                <br>
                <span>
                    北京、成都、天津：发票抬头不能为空，必须写公司全称或个人称呼；不能写公司简称或“个人”两个字，但可以写“xx先生/女士”，不可以开地名如“北京、上海”，不可以开“公司”两个字或“单位”两个字；
                </span>
                <br>
                <span>
                    上海、杭州、苏州、无锡、广州、深圳：发票抬头不能为空，不能开繁体字抬头。</span>
                <br>
                <br>
                <span class="cuti">3 发票类型</span>
                <br>
                <span>
                    机打发票，项目食品或者蛋糕。
                </span>
                <br>
                <br>
                <span class="cuti">4 发票日期</span>
                <br>
                <span>
                    以实际开票日期为准。（补开发票只能按照补开当日及以后日期开票，无法开过期发票。）
                </span>
                <br>
                <br>
                <span class="cuti">5 补开发票原则</span>
                <br>
                <span>
                    1个月内可以补开发票。
                </span>
                <br>
                <br>
                <span class="cuti">6 电子发票</span>
                <br>
                <span>电子发票是指在购销商品、提供或者接受服务以及从事其他经营活动中，开具、收取的以电子方式存储的收付款凭证，small lucky开具的电子发票均为真实有效的合法发票，与传统纸质发票具有同等法律效力，可作为用户维权、保修的有效凭据。
                </span>
                <br>
                <br>
                <span class="cuti">6.1 到质量问题，电子发票是否能作为维权的依据？</span>
                <br>
                <span>
                    根据北京市国家税务局、北京市地方税务局、北京市商务委员会、北京市工商行政管理局《关于电子发票应用试点若干事项的公告》（2013年第8号）、《关于扩大电子发票应用试点范围若干事项的公告》（2013年第18号文）；上海市国家税务局、上海市商务委员会、上海市发展和改革委员会、上海市财政局上海市工商行政管理局《关于上海市电子发票应用试点的公告》（2013年第6号文）；成都事国家税务局、成都市商务局、成都市发展和改革委员会、成都市财政局、成都市工商行政管理局《关于成都市电子发票应用试点若干事项的公告》（2014年第1号文）；广州市国家税务局、广州市发展和改革委员会、广州市经济贸易委员会、广州市财政局、广州市对外贸易经济合作局、广州市人民政府国有资产监督管理委员会、广州市工商行政管理局、广州市地方税务局《关于广州市电子发票应用试点的公告》（2014年第5号文），电子发票与纸质发票具有相同法律效力，可作为售后、维权凭据。
                </span>
                <br>
                <br>
                <span class="cuti">6.2 电子发票通过什么方式发到顾客手中？</span>
                <br>
                <span>
                    订单配送完成24小时后（通常为配送后第二个工作日），用户可登陆small lucky个人账户，在订单详情页的发票区域下载电子发票。
                </span>
                <br>
                <br>
                <span class="cuti">6.3 选择电子发票时页面上的手机号码和邮箱是必填的吗？</span>
                <br>
                <span>
                    手机号码是必填项，税务局规定手机号码作为电子发票必填内容，方便用户在税务局指定的发票服务平台通过手机号码查询电子发票信息或接收税务局电子发票服务平台发送的电子发票开具的短信通知，因此需填写真实正确信息。邮箱为非必填项，但建议用户填写，方便用户通过邮箱收取电子发票通知.
                </span>
                <br>
                <br>
                <span class="cuti">6.4 选择开具电子发票的顾客申请部分退货，发票如何处理？</span>
                <br>
                <span>
                    开具电子发票的订单申请部分退货，原电子发票会通过系统自动冲红（原电子发票显示无效），并对未发生退货的商品重新自动开具电子发票。如整单退货，则我司将原电子发票做冲红处理（原电子发票显示无效）。
                </span>
                <br>
                <br>
                <span class="cuti">6.5 如果选择了电子发票，后来又想要纸质的发票怎么办？</span>
                <br>
                <span>
                    电子发票与纸质普票具有相同法律效力，是售后、用户维权的有效凭据，个人用户选择开具电子发票，若后期需要换取纸质普票，需要承担发票配送的运费，因此请谨慎选择发票类型。若涉及相关电子发票更换问题，请直接联系客服处理即可。
                </span>
            </div>
            <!--/*修改订单详细说明*/-->
            <div id="h_xiugai">
                <div class="text-right">
                    <span>
                        发布日期：2014-03-26 00:00:00
                    </span>
                </div>
                <br><br>
                <span class="cuti">一、北京：</span>
                <br>
                <span>
                    配送时间段为10点到14点，最晚修改订单时间为：前一天22点，配送时间段为14点-16点30分，最晚修改订单时间为：当天10点15分，配送时间段为16点30分到19点30分，最晚修改订单时间为：当天13点15分，配送时间段为19点30分到22点，最晚修改订单时间为：当天16点15分。
                </span>
                <br>
                <br>
                <span class="cuti">二、上海：</span>
                <br>
                <span>
                    配送时间段为10点到14点00分，最晚修改订单时间为：前一天22点，配送时间段为14点30分-18点30分，最晚修改订单时间为：当天10点15分，配送时间段为18点30分到21点00分，最晚修改订单时间为：当天14点25分。
                </span>
                <br>
                <br>
                <span class="cuti">三、广州：</span>
                <br>
                <span>
                    配送时间段为10点到14点，最晚修改订单时间为：前一天22点，配送时间段为14点-16点30分，最晚修改订单时间为：当天10点15分，配送时间段为16点30分到20点，最晚修改订单时间为：当天13点15分。
                </span>
                <br>
                <br>
                <span class="cuti">四、杭州：</span>
                <br>
                <span>
                    配送时间段为10点到14点，最晚修改订单时间为：前一天22点，配送时间段为14点-16点30分，最晚修改订单时间为：当天10点15分，配送时间段为16点30分到19点30分，最晚修改订单时间为：当天13点15分。
                </span>
                <br>
                <br>
                <span class="cuti">五、成都、苏州、无锡、深圳、天津：</span>
                <br>
                <span>
                    配送时间段为10点到16点，最晚修改订单时间为：前一天22点，配送时间段为16点-19点，最晚修改订单时间为：当天10点15分。
                </span>
            </div>
            <!--配送范围说明-->
            <div id="h_fanwei">
                <div class="text-right">
                    <span>
                        发布日期：2014-03-26 00:00:00
                    </span>
                </div>
                <br><br>
                <span class="cuti">一、配送服务费</span>
                <br>
                <span>
                    现有配送城市：北京/成都/ 天津/ 上海/ 杭州/ 苏州/ 无锡/ 广州/ 深圳
                </span>
                <br>
                <span>单笔订单金额<100元，配送服务费12元；</span>
                <br>
                <span>单笔订单金额≧ 100元，免收配送服务费。</span>
                <br>
                <br>
                <span class="cuti">二、配送范围</span>
                <br>
                <span>
                    （一）北京：
                    <br>
                    配送区域：六环以内；
                    <br>
                    配送时间：五环内：9:30-22:00点；五环外-六环内：10:00-21:00；
                    <br>
                    （二）天津：<br>
                    配送区域：快速路以内；快速路以外—绕城公路以内；<br>
                    配送时间：10:00-19:00；<br>
                    配送区域：天津滨海新区-塘沽：西至西中环快速-北至京津高速-东至海滨高速-南至海河，
                    <br>配送时间：10:00~19:00；<br>
                    （三）上海：<br>
                    配送区域：A30以内（金山区除外）<br>
                    配送时间：<br>
                    A、A20外环以内：9:30-22:00；<br>
                    B、A20-A30之间：10:00-22:00；<br>
                    C、奉贤、泖港、叶榭、嘉定城区等在A30附近或较远区域：10:00-18:00；<br>
                    （四）杭州：<br>
                    配送区域：杭州绕城高速以内、东至钱塘江、南至杭州绕城高速、西至杭州绕城高速、北至杭州绕城高速，绕城以外还可以配送杭州市萧山国际机场以内、临平地铁站A出口自提、未来科技城板块（东至杭州绕城高速、南至文二西路以北、西至云溪路以东、北至仓前站铁路延线以南。）<br>
                    配送时间：10:00-19:00<br>
                    （五）苏州：<br>
                    配送区域：<br>
                    A、苏州绕城高速内；<br>
                    B、阳澄湖区（西至常台高速-北至绕城北线-东至阳澄湖-南至京沪高速）、木渎区（西至绕城西线-北至太湖大道-东至金枫路-南至宝带西路）、吴中区（西至绕城西线-北至宝带西 路-东至友新快速路-南至绕城南线）；<br>
                    配送时间：10:00-19:00；<br>
                    （六）无锡：<br>
                    配送区域：<br>
                    A、西至西环路-北至沪宜高速/京沪高速/锡沪路-东至通锡高速-南至通锡高速及向西延长线（至太湖）；<br>
                    B、西至京沪高速-北至锡沪路-东至通锡高速-南至京沪/通锡高速；<br>
                    配送时间：10:00-19:00；<br>
                    （七）广州：<br>
                    配送区域：<br>
                    A、环城高速以内（S81）；<br>
                    B、环城高速以外，西至广清高速/广州环城高速/广珠西线高速-北至广州绕城高速-东至广州绕城高速-南至广州绕城高速；<br>
                    配送时间：9:30-20:00；<br>
                    （八）深圳：<br>
                    配送区域：<br>
                    A、南山区、福田区、罗湖区；<br>
                    B、西至广深沿江高速-北至深圳宝安国际机场/沈海高速-东至长深高速/盐排高速-南至深盐路/沙盐路/沙深路/罗沙路/盐坝高速/滨河大道/京港澳高速/滨河大道/深圳湾以北；<br>
                    配送时间：10:00-19:00；<br>
                    （九）成都：<br>
                    配送区域：<br>
                    A、锦江区、武侯区、青羊区、成华区、金牛区、高新区；<br>
                    配送时间：10:00-19:00；<br>
                </span>
            </div>
        </div>
    </div>
</div>
<%-include('footer.ejs')%>
<script src="configuration/js/jquery-1.8.2.min.js"></script>
<script src="configuration/bootstrap-3.3.5-dist/js/jquery-1.11.3.js"></script>
<script src="configuration/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="js/announcement.js"></script>
<script src="js/nav.js"></script>
</body>
</html>