<!DOCTYPE html>
<html>
<head lang="en">
    <title>体验</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap 101 Template</title>
    <link rel="stylesheet" href="css/baking.css">

    <!-- Bootstrap -->
    <link href="configuration/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="icon/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/baking.css">
</head>

<%-include("nav.ejs")%>

<body>
<div class="container-fluid" style="margin-top: 80px">
    <div class="row">
        <div class="">
            <div class="bg">
                <div class="col-lg-12">
                    <div class="cakes">
                        <div class="center-1200">
                            <a href="/play.do">
                                <div class="cake">
                                    <div class="cake-img"></div>
                                    <div class="cake-txt"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<%-include("footer.ejs")%>






<script src="configuration/js/jquery-1.11.3.js"></script>
<script src="configuration/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
<script src="configuration/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="js/nav.js"></script>
</body>
</html>