<footer class="container-fluid">
    <div class="row">
        <ul class="row">
            <li class="col-xs-offset-1 col-xs-2 ">联系我们</li>
            <li class="col-xs-2">订购帮助</li>
            <li class="col-xs-2">企业合作</li>
            <li class="col-xs-2">生产经营资质</li>
            <li class="col-xs-2">公告专区</li>
        </ul>
        <ul class="row">
            <li class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-offset-3"><i class="fa fa-weixin fa-2x footer_bg"></i></li>
            <li class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-weibo fa-2x footer_bg"></i></li>
            <li class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-qq fa-2x footer_bg"></i></li>
        </ul>
        <p class="col-xs-12 text-center">订购专线：400 820 8820（服务时间 08:00–22:00）客服电话：021-6666666（全国） | lucky@small lucky.com（邮箱）</p>
        <p class="col-xs-12 text-center">网站注册公司名称: 成都小幸运食品有限公司 地址: 成都市小幸运经济技术开发区幸运二街5号院20号楼</p>
        <p class="col-xs-12 hr"></p>
        <p class="col-xs-12 text-center">Copyright© small lucky蛋糕官网商城 2007-2017, 版权所有 京ICP备14006254号-1</p>
    </div>
</footer>
<!--<script>-->
    <!--var strFullPath=window.document.location.href;-->
    <!--var strPath=window.document.location.pathname;-->
    <!--var pos=strFullPath.indexOf(strPath);-->
    <!--var prePath=strFullPath.substring(0,pos);-->
    <!--var postPath=strPath.substring(0,strPath.substr(1).indexOf('/')+1);-->
    <!--var path= window.location.pathname;-->
    <!--var Version='?v=002';//配置版本号-->
    <!--var RSUrl=prePath+postPath;//配置Content目录 项目特殊配置-->
    <!--var ImgUrl=prePath+postPath+"/images";//配置js目录 项目特殊配置-->
    <!--var UrlType="ucenter";//由于js公用 区分来源于那个端-->
<!--</script>-->
<script src="configuration/js/jquery-1.11.3.js"></script>
<!--<script src="configuration/sea.js"></script>-->
<!--<script src="js/config.js"></script>-->
<!--<script>-->
    <!--seajs.use("index");-->
<!--</script>-->