<!DOCTYPE html>
<html>
<head lang="en">
    <title>了解更多</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="configuration/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="icon/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/more1.css">
</head>
<body>
<%-include("nav.ejs")%>
<section>
    <div class="container-fluid" style="margin-top: 80px">
        <div class="row">
            <div class="col-lg-12">
                <img src="images/6/bg.png" class="img-responsive" alt="">
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="middle_word">

            <div class="kz">课程信息</div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <table class="table" >
                            <tr>
                                <th class="text-center">时段</th>
                                <th class="text-center">上课时间</th>
                                <th class="text-center">星期一</th>
                                <th class="text-center">星期二</th>
                                <th class="text-center">星期三</th>
                                <th class="text-center">星期四</th>
                                <th class="text-center">星期五</th>
                            </tr>
                            <tr>
                                <td rowspan="3" style="line-height: 700%">上午</td>
                                <td>9:00-9:50</td>
                                <td>法式面包制作</td>
                                <td>休格拉乳酪制作</td>
                                <td>蔓越莓红酒面包</td>
                                <td>杏仁威尼斯制作</td>
                                <td>摩卡面包制作</td>
                            </tr>
                            <tr>
                                <td>10:00-10:50</td>
                                <td>法式面包练习</td>
                                <td>休格拉乳酪练习</td>
                                <td>蔓越莓红酒面包练习</td>
                                <td>杏仁威尼斯练习</td>
                                <td>摩卡面包练习</td>
                            </tr>
                            <tr>
                                <!--<td></td>-->
                                <td>练习制作品鉴</td>
                                <td>练习制作品鉴</td>
                                <td>练习制作品鉴</td>
                                <td>练习制作品鉴</td>
                                <td>练习制作品鉴</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="7" style="background-color:white;"></td>
                                <!--<td></td>-->
                                <!--<td></td>-->
                                <!--<td></td>-->
                                <!--<td></td>-->
                                <!--<td></td>-->
                                <!--<td></td>-->
                                <!--<td></td>-->
                            </tr>
                            <tr>
                                <td rowspan="3" style="line-height: 700%">下午</td>
                                <td>14:00-14:50</td>
                                <td>核桃法棍制作</td>
                                <td>葡萄裸麦面包制作</td>
                                <td>杂粮干果乳络制作</td>
                                <td>卡门面包制作</td>
                                <td>熔岩巧克力面包制作</td>
                            </tr>
                            <tr>
                                <!--<td></td>-->
                                <td>15:00-15:50</td>
                                <td>奶香片制作</td>
                                <td>葡萄裸麦面包练习</td>
                                <td>杂粮干果乳络练习</td>
                                <td>卡门面包练习</td>
                                <td>熔岩巧克力面包练习</td>
                            </tr>
                            <tr>
                                <!--<td></td>-->
                                <td>16:00-16:50</td>
                                <td>练习制作品鉴</td>
                                <td>练习制作品鉴</td>
                                <td>练习制作品鉴</td>
                                <td>练习制作品鉴</td>
                                <td>练习制作品鉴</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="middle_tel">
                    <span class="middle_tel_word">
                        咨询电话：400 820 8820（服务时间 08:00–22:00）<br />
                        扫码关注官方微信，获取更多最新课程安排
                    </span>
            </div>
            <div class="text-center">
                <img src="images/Qrcode.png" alt="">
            </div>



        </div>
    </div>
    <div class="container-fluid zz" style="background-color: #555555">
        <div class="row">
            <div class="col-xs-12 text-center" style="margin-top:50px;font-size: 18px;color: white">
                学员作品展示
            </div>
        </div>
        <div class="row" style="padding: 3%;">

            <div class="col-lg-3 col-md-3 z2">
                <img src="images/6/image01.png" class="thumbnail"  alt="">
            </div>
            <div class="col-lg-3 col-md-3 z3">
                <img src="images/6/image02.png" class="thumbnail"  alt="">
            </div>
            <div class="col-lg-3 col-md-3 z4">
                <img src="images/6/image03.png" class="thumbnail"  alt="">
            </div>
            <div class="col-lg-3 col-md-3 z5">
                <img src="images/6/image04.png" class="thumbnail"  alt="">
            </div>

        </div>

        <div class="row" style="padding: 3%;">


            <div class="col-lg-3 col-md-3 z2">
                <img src="images/6/image05.png" class="thumbnail"  alt="">
            </div>
            <div class="col-lg-3 col-md-3 z3">
                <img src="images/6/image06.png" class="thumbnail"  alt="">
            </div>
            <div class="col-lg-3 col-md-3 z4">
                <img src="images/6/image07.png" class="thumbnail"  alt="">
            </div>
            <div class="col-lg-3 col-md-3 z5">
                <img src="images/6/image08.png" class="thumbnail"  alt="">
            </div>
        </div>

        <div class="row" style="padding: 3%;">


            <div class="col-lg-3 col-md-3 z2" style="">
                <!--<a href="" class="thumbnail" >-->
                <img src="images/6/image09.png" alt="" class="thumbnail">
                <!--</a>-->
            </div>
            <div class="col-lg-3 col-md-3 z3">
                <img src="images/6/image10.png" class="thumbnail" alt="">
            </div>
            <div class="col-lg-3 col-md-3 z4">
                <img src="images/6/image11.png"  class="thumbnail" alt="">
            </div>
            <div class="col-lg-3 col-md-3 z5">
                <img src="images/6/image12.png"  class="thumbnail" alt="">
            </div>

        </div>

    </div>
</section>
<%-include("footer.ejs")%>


<script src="configuration/js/jquery-1.11.3.js"></script>
<script src="configuration/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
<script src="configuration/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>