*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
}
#order_success{
    padding:6% 25%;
}
#order_success>div:nth-of-type(1){
    padding-bottom:10%;
    border-bottom: 1px solid rgb(225,225,225);
}
#order_success>div>div>i{
    display: inline-block;
    height:50px;
    width:50px;
    background-image: url("../images/order.png");
    background-size: cover;
}
#order_success>div>div:nth-of-type(1)>span{
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: rgb(104,64,41);
    top: -15px;
    left: 2%;
}
#order_success>div:nth-of-type(2){
    padding: 3% 0;
}
#order_success>div:nth-of-type(2) li{
    list-style: none;
    color: rgb(189,189,189);
    font-size: 14px;
    height:6vh;
}
#order_success>div:nth-of-type(2) li a{
    text-decoration: none;
    color: rgb(213,191,167);
}
#order_success>div:nth-of-type(2) li a:hover{
    text-decoration:underline ;
}
#order_success>div li:nth-child(1) span:nth-of-type(2),#order_success>div li:nth-child(1) a:nth-of-type(2){
    float: right;
}
#order_success>div:nth-of-type(3) img{
    height: 150px;
    margin: .5% 0 1.5% 0;
}
#order_success>div:nth-of-type(3) p{
    color: rgb(104,64,41);
    font-size: 14px;
}