body{
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
    font-size: 14px;
    list-style: none;
    text-decoration: none;
}
.divbanner{
    width: 98.75vw;
    height: 500px;
    margin-top: 82px;
    background-image:url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
}
.fa{
    height: 20px;
    width: 20px;
}
.ullist{
    color:#684029;
}
.ullist li{
    padding-left: 100px;
}
.ullist li div{
    height: 530px;
}
#a1,#a2,#a3,#a4{
    text-decoration: none;
    color:#684029;
}
.right-box{
    padding-top: 50px;
}
.right-box a p:nth-of-type(1){
    font-size: 30px;
}
.right-box p:nth-child(2){
    height: 80px;
    line-height: 80px;
}
.right-box p:nth-child(5){
    width: 220px;
    height: 40px;
    margin-top:60px;
}
#ullist a{
    text-decoration: none;
}
#aa1,#aa2,#aa3,#aa4{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    color:white;
    background-color: #684029;
    margin-left: 400px;
    margin-top: -100px;
    width: 170px;
    height: 50px;
    line-height:50px;
}
.right-box>div:nth-of-type(1){
    border-top: 2px dashed #E3E3E3;
    border-bottom: 2px dashed #E3E3E3;
    height: 100px;
}
.right-box div img {
    margin-left: 20px;
    width: 70px;
    height: 70px;
}
.right-box div:nth-of-type(1) p{
    height: 20px;
    width: 400px;
    margin-top: -0px;
}
.right-box div:nth-of-type(1) p input{
    margin-left: 40px;
}
@media screen and (max-width: 1200px){
    .ullist>li>div:nth-of-type(1){
        /*margin-top: 420px;*/
    }
    .ullist>li:nth-of-type(1)>div:nth-of-type(1){
        margin-top: 0px;
    }
}
/*nav================================================*/

header{
    margin-bottom: 100px;
}
/*头部*/
.header{
    height: 80px;
    box-shadow: 1px 1px 5px 0 grey;
    color: #684029;
    background-color: #FFFFFF;
}
header{
    margin-bottom: 80px;
}
/*头部*/
.header{
    height: 80px;
    box-shadow: 1px 1px 5px 0 grey;
    color: #684029;
    background-color: #FFFFFF;
}
/*导航*/
.nav{
    padding-left: 20px;
}
/*左边导航*/
.nav_left{
    background-color: #FFFFFF;
    height: 78px;
    margin-top: 0;
}
.nav_left>li{
    float: left;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 60px;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>ul>li>a{
    display: inline-block;
    color: #684029;
    padding: 0;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>ul>li>a:hover{
    color: #BB9772;
    text-decoration: none;
}

/*logo图片*/
.logoImg{
    height:80px;
    margin-left: 2%;
}
/*专区*/
.zone{
    position:relative;
}
/*专区的子菜单*/
.zoneInfo{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    z-index: 999;
    width: 100px;
    border: 1px solid #EDEDED;
    background-color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    transition: .5s linear;
}
.zoneInfo>li{
    height: 40px;
    line-height: 40px;
}
.zone:hover .zoneInfo{
    visibility: visible;
    opacity: 1;
}
.zoneInfo>li:hover{
    color: #684029;
}
/*右边导航*/
.navbar-right>li{
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
}
.nav_left>li:hover,.navbar-right>li:not(:nth-child(3)):hover{
    color: #BB9772;
    cursor: pointer;
}
.navbar-right>li:nth-child(3)>span>a{
    color: #684029;
}
.navbar-right>li:nth-child(3)>span>a:hover{
    color: #BB9772;
    text-decoration: none;
}
.navbar-right>li:nth-child(3)>span:hover{
    color: #BB9772;
    cursor: pointer;
}
/*地址下拉列表*/
.navbar-right #address{
    border: none;
    background-color: rgba(0,0,0,0);
}
/*窗口缩小时的菜单栏*/
.navbar-toggle{
    margin-top: 20px;
}
/*app下载*/
.app{
    position: relative;
}
/*二维码*/
.Qrcode{
    position: absolute;
    margin-left: -50px;
    left: 50%;
    margin-top: -10px;
    z-index: 999;
}
.Qrcode>li>img{
    width: 100px;
    display: none;
}
.app:hover .Qrcode>li>img{
    display: block;
}
.navbar-collapse.in{
    height:200px;
}
/*<!--提示模态框-->*/
.notBox{
    display: none;
    position: fixed;
    width: 800px;
    height: 200px;
    top: 20%;
    left: 18%;
    z-index: 999;
}
.landBox{
    display: none;
    position: fixed;
    width: 800px;
    height: 200px;
    top: 20%;
    left: 18%;
    z-index: 999;
}
#prompt_modal>div{
    margin-top:15%;
    width: 30%;
    border: none;
    background: none;
}
#prompt_modal2>div{
    margin-top:15%;
    width: 30%;
    border: none;
    background: none;
}
#prompt_modal .modal-content{
    border: 1px solid rgba(73, 43, 26, 0.64);
    border-radius: 1px;
    background-color:rgba(73, 43, 26, 0.64);
    /*box-shadow: none;*/
    padding: 4% 2%;
}
#prompt_modal2 .modal-content{
    border: 1px solid rgba(73, 43, 26, 0.64);
    border-radius: 1px;
    background-color:rgba(73, 43, 26, 0.64);
    /*box-shadow: none;*/
    padding: 4% 2%;
}
#prompt_modal .modal-header{
    font-size: 14px;
    color: #e4e4e4;
    border-bottom: none;
    line-height:28px;
}
#prompt_modal2 .modal-header{
    font-size: 14px;
    color: #e4e4e4;
    border-bottom: none;
    line-height:28px;
}
#prompt_modal .modal-footer{
    border-top: none;
}
#prompt_modal2 .modal-footer{
    border-top: none;
}
#prompt_modal .modal-footer button{
    height:40px;
    width:32%;
    border:1px solid rgba(73, 43, 26, 0.6);
    box-shadow: none;
    outline: none;
    border-radius: 3px;
    letter-spacing: 1px;
    background-color:rgba(73, 43, 26, 0.9);
    color: #e4e4e4;
}
#prompt_modal2 .modal-footer button{
    height:40px;
    width:32%;
    border:1px solid rgba(73, 43, 26, 0.6);
    box-shadow: none;
    outline: none;
    border-radius: 3px;
    letter-spacing: 1px;
    background-color:rgba(73, 43, 26, 0.9);
    color: #e4e4e4;
}
#prompt_modal .modal-footer button:hover{
    background-color: rgb(56, 33, 19);

}
#prompt_modal2 .modal-footer button:hover{
    background-color: rgb(56, 33, 19);
}
.pro-list-linkOne{
    cursor: pointer;
}
.pro-list-linkOne:hover{
    color: #BB9AA6;
}

/*footer============================================*/

/*尾部*/
footer{
    background-color: #333333;
}
/*字体颜色*/
footer .row{
    color: white;
}
/*第一排ul*/
footer .row ul:first-child{
    margin: 50px 0;
    /*width: 60%;*/
    height: 30px;
}
footer .row ul:first-child>li{
    /*width: 160px;*/
    float: left;
    text-align: center;
}
footer .row ul:first-child>li:not(:last-child){
    border-right: 1px solid white;
}
/*第二排小图标*/
footer .row ul:nth-child(2){
    height: 50px;
    margin: 0 0 50px;
}
footer .row ul:nth-child(2)>li{
    /*width: 160px;*/
    float: left;
    text-align: center;
}
footer .row ul:nth-child(2)>li>.footer_bg{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255,255,255,.1);
    line-height: 50px;
}
/*分割线*/
footer .hr{
    border: 1px solid #616161;
    margin-top: 30px;
}
footer .row p:last-child{
    line-height: 50px;
}

