*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
    font-size: 14px;
    list-style: none;
    text-decoration: none;
}
header{
    margin-bottom: 100px;
}
/*头部*/
.header{
    height: 80px;
    box-shadow: 1px 1px 5px 0 grey;
    color: #684029;
    background-color: #FFFFFF;
}

/*导航*/
.nav{
    padding-left: 20px;
}
/*左边导航*/
.nav_left{
    background-color: #FFFFFF;
    height: 78px;
    margin-top: 0;
}
.nav_left>li{
    float: left;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 60px;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>ul>li>a{
    display: inline-block;
    color: #684029;
    padding: 0;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>ul>li>a:hover{
    color: #BB9772;
    text-decoration: none;
}
/*logo图片*/
.logoImg{
    height:80px;
    margin-left: 2%;
}
/*专区*/
.zone{
    position:relative;
}
/*专区的子菜单*/
.zoneInfo{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    z-index: 999;
    width: 100px;
    border: 1px solid #EDEDED;
    background-color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    transition: .5s linear;
}
.zoneInfo>li{
    height: 40px;
    line-height: 40px;
}
.zone:hover .zoneInfo{
    visibility: visible;
    opacity: 1;
}
.zoneInfo>li:hover{
    color: #684029;
}
/*右边导航*/
.navbar-right>li:not(:nth-child(3)){
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
}
.nav_left>li:hover,.navbar-right>li:not(:nth-child(3)):hover{
    color: #BB9772;
    cursor: pointer;
}
.navbar-right>li:nth-child(3)>span>a{
    color: #684029;
}
.navbar-right>li:nth-child(3)>span>a:hover{
    color: #BB9772;
    text-decoration: none;
}
.navbar-right>li:nth-child(3)>span:hover{
    color: #BB9772;
    cursor: pointer;
}
/*地址下拉列表*/
.navbar-right #address{
    border: none;
    background-color: rgba(0,0,0,0);
}
/*窗口缩小时的菜单栏*/
.navbar-toggle{
    margin-top: 20px;
}
/*app下载*/
.app{
    position: relative;
}
/*二维码*/
.Qrcode{
    position: absolute;
    margin-left: -50px;
    left: 50%;
    margin-top: -10px;
    z-index: 999;
}
.Qrcode>li>img{
    width: 100px;
    display: none;
}
.app:hover .Qrcode>li>img{
    display: block;
}
.navbar-collapse.in{
    height: 200px;
}
.navLogin{
    padding: 0 10px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.shoppingCart{
    font-size: 18px;
    margin-left: -10px;
}
section>.row>.retrievePassword{
    background-color: #F6F5F3;
    height: 510px;
    margin-bottom: 30px;
}
section>.row>.retrievePassword>p{
    color: #8C6A52;
    font-size: 24px;
    margin: 30px;
}
section>.row>.retrievePassword>div>form>div>input{
    height: 40px;
    margin-top: 20px;
}
section>.row>.retrievePassword>div>form>div>div{
    padding: 0;
    margin: 10px 0 20px;
}
section>.row>.retrievePassword>div>form>div>div>input{
    height: 40px;
}
section>.row>.retrievePassword>div>form>.btn-default{
    height: 40px;
    width: 140px;
    background-color: #866A51;
    color: white;
    margin: 10px 145px 0;
}
.pwd,.save{
    display: none;
}
#inputTwoAccount,#infValidation,#exampleInputPassword1,#reInputPassword1{
    box-shadow: none;
    outline: none;
}
/*尾部*/
footer{
    background-color: #333333;
}
/*字体颜色*/
footer .row{
    color: white;
}
/*第一排ul*/
footer .row ul:first-child{
    margin: 50px  auto 0;
    width: 60%;
}
footer .row ul:first-child>li{
    width: 160px;
    float: left;
    text-align: center;
}
footer .row ul:first-child>li:not(:last-child){
    border-right: 1px solid white;
}
/*第二排小图标*/
footer .row ul:nth-child(2){
    /*width: 40%;*/
    height: 50px;
    margin: 100px  auto 30px;
}
footer .row ul:nth-child(2)>li{
    /*width: 160px;*/
    float: left;
    text-align: center;
}
footer .row ul:nth-child(2)>li>.footer_bg{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255,255,255,.1);
    line-height: 50px;
}
/*分割线*/
footer .hr{
    border: 1px solid #616161;
    margin-top: 30px;
}
footer .row p:last-child{
    line-height: 50px;
}

section .close{
    outline: none;
    box-shadow: none;
    font-weight: bold;
    line-height: 20px;
}
section #save>div{
    border:5px solid rgb(211,211,211);
    box-shadow:0 0 16px rgba(0,0,0,.3);
    width: 30%;
    position: fixed;
    top:30%;
    left: 35%;
}
section #save .modal-content{
    box-shadow: none;
    border: none;
    border-radius: 0;
    background-color: rgb(250,250,250);
    padding: 2% 4%;

}
section #save .modal-body{
    /*height:30em;*/
    overflow: auto;
    color:rgb(104,64,41);
    padding: 0;
    font-size: 18px;
    /*border: 1px solid rebeccapurple;*/
}
section #save .modal-header{
    border-bottom: none;
    padding: 1% 0 2% 0;
}
section #save .modal-header{
    color: rgb(181,181,179);
    font-weight: normal;
}
section .modal-footer{
    color:rgb(104,64,41);
    text-align: center;
}
section #save .modal-footer{
    border-top: none;
    padding:4% 0 ;
}
section .time{
    color: red;
    padding: 0 1%;
    font-size: 18px;
}